body, html
    height 100%
    width 100%
    margin 0
    padding 0
    font-family 'Roboto', sans-serif

input:focus,
input:active,
button:focus,
button:active,
select:focus,
select:active
    outline none
